[submodule "deepdb-public"]
	path = deepdb-public
	url = git@github.com:DataManagementLab/deepdb-public.git
[submodule "FACE-A-Normalizing-Flow-based-Cardinality-Estimator"]
	path = FACE-A-Normalizing-Flow-based-Cardinality-Estimator
	url = https://github.com/DB-Benchmark/FACE-A-Normalizing-Flow-based-Cardinality-Estimator
[submodule "iris_demo"]
	path = iris_demo
	url = https://github.com/tjluyao/iris_demo
[submodule "UAE"]
	path = UAE
	url = https://github.com/DB-Benchmark/UAE
[submodule "Learning-based-cost-estimator"]
	path = Learning-based-cost-estimator
	url = git@github.com:greatji/Learning-based-cost-estimator.git
[submodule "CEB"]
	path = CEB
	url = git@github.com:learnedsystems/CEB.git
[submodule "naru"]
	path = naru
	url = git@github.com:naru-project/naru.git
[submodule "learnedcardinalities"]
	path = learnedcardinalities
	url = git@github.com:andreaskipf/learnedcardinalities.git
[submodule "quicksel"]
	path = quicksel
	url = git@github.com:illinoisdata/quicksel.git
[submodule "BayesCard"]
	path = BayesCard
	url = git@github.com:wuziniu/BayesCard.git
[submodule "neurocard"]
	path = neurocard
	url = git@github.com:neurocard/neurocard.git
[submodule "LPCE"]
	path = LPCE
	url = git@github.com:DB-Benchmark/LPCE.git
[submodule "FactorJoin"]
	path = FactorJoin
	url = git@github.com:wuziniu/FactorJoin.git
[submodule "ALECE"]
	path = ALECE
	url = git@github.com:pfl-cs/ALECE.git
[submodule "learned-cardinality-estimation"]
	path = learned-cardinality-estimation
	url = git@github.com:postechdblab/learned-cardinality-estimation.git
